*{
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
}

.banner-container{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    height: 100vh;
    border: 1px solid red;
    align-items: center;
    /* align-items: baseline; */
    flex-direction: row-reverse;

}